/*  navbar csss    */
.nav-item {
    font-size: 18px;
    
}

.nav-item a{
    color: aliceblue;
}

.navbar-brand {
    color: aliceblue;
}
/* ---------------------------------------------------------------------------------------*/
/* Carousel css */
.btn.btn-secondary.btn-lg {
    background-color: rgb(72, 70, 70);
    border: 2px solid black;
    border-radius: 25px;
    color: black;
}

.btn.btn-secondary.btn-lg:hover {
    color: aliceblue;
    background-color: rgb(31, 29, 29);
    width: 200px;
    transition: .8s;
}
/* ---------------------------------------------------------------------------------------*/

/* Card css */

.card_heading_text {
    padding: 25px;
    text-align: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:fill;
} 

.btn.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------*/
.information_heading_text {

}

.d-block.mx-lg-auto.img-fluid {
    width: 70%;
    height: 50%;
    
    padding: 20px;
}