/*  navbar csss    */
.nav-item {
    font-size: 18px;
    
}

.nav-item a{
    color: aliceblue;
}

.navbar-brand {
    color: aliceblue;
}
/* ---------------------------------------------------------------------------------------*/
/* Carousel css */
.btn.btn-secondary.btn-lg {
    background-color: rgb(169, 164, 164);
    border: 2px solid black;
    border-radius: 25px;
    color: black;
}

.btn.btn-secondary.btn-lg:hover {
    color: aliceblue;
    background-color: rgb(31, 29, 29);
    width: 200px;
    transition: .8s;
}
/* ---------------------------------------------------------------------------------------*/

/* Card css */

.card_heading_text {
    background-color: #DCF2F1;
    padding: 35px;
    padding-top: 40px;
    text-align: center;
}

.cards {
    background-color: #DCF2F1;
    padding: 20px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:fill;
} 

.btn.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------*/
.info_heading_text h3{
    background-color: #EBF3E8;
    padding: 30px;
    text-align: center;
}

.row.flex-lg-row-reverse.align-items-center.g-5.py-5 {
    background-color:#EBF3E8;
    margin-top: 0px;
    
}

.d-block.mx-lg-auto.img-fluid {
    width: 500px;
    height: 500px;
    
    padding: 20px;
}

.display-5.fw-bold.text-body-emphasis.lh-1.mb-3{
    margin-left: 20px;
    
}

.lead {
    margin-left: 20px;
    float: right;
}

.new h1 p{ 
    margin-right: 20px;
}

/*----sofas card--------- */


.sofas_cards {
    display: flex;
    align-items: center ;
    justify-content:space-evenly;
    padding: 20px;
    padding-top: 200px;
    background-color: #BBE2EC;
    background-image: url('core/images/chair.jpg');
}

/*----bed card--------- */

.bed_cards {
    display: flex;
    align-items: center ;
    justify-content:space-evenly;
    padding: 20px;
    padding-top: 200px;
    background-color: #BBE2EC;
    background-image: url('core/images/chair.jpg');
}
