/*  navbar css    */
.nav-item {
    font-size: 18px;
    
}

.nav-item a{
    color: aliceblue;
}

.navbar-brand {
    color: aliceblue;
}

.product_btn {
    color: #EBF3E8;
    border: none;
    padding: 10px;
    text-decoration: none;
}

.product_btn:hover {
    color: #EBF3E8;
    text-decoration: none;
} 


/* ---------------------------------------------------------------------------------------*/
/* Carousel css */
.know_more_btn {
    background-color: rgb(169, 164, 164);
    border: 2px solid black;
    border-radius: 25px;
    color: black;
}

.know_more_btn:hover {
    color: aliceblue;
    background-color: rgb(31, 29, 29);
    border: 2px solid black;
    width: 200px;
    transition: .8s;
}
/* ---------------------------------------------------------------------------------------*/

/* Card css */

.card_heading_text {
    background-color: #DCF2F1;
    padding: 35px;
    padding-top: 40px;
    text-align: center;
}

.home_cards {
    background-color: #DCF2F1;
    padding: 20px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:fill;
} 

.buy_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* information_1*/
.info_heading_text h3{
    background-color: #EBF3E8;
    padding: 30px;
    text-align: center;
    
}

.div_1_info {
    background-color:#EBF3E8;
    margin-top: 0px;
    
}

.hanging_img {
    width: 500px;
    height: 500px;
    padding: 20px;
    transform: scale(1);
    transition: transform 0.3s;
}

.hanging_img:hover {
    transform: scale(1.1);
} 

.div_1_info_heading_text{
    margin-left: 20px;
    
}

.div_1_info_para_text {
    margin-left: 20px;
    float: right;
}

/* .new h1 p{ 
    margin-right: 20px;
} */

/* information_1 end*/



/* information_2 start*/
.div_2_info_heading_text {
    text-align: left; 
    margin-top: 100px; 
    padding:10px;
}

.div_2_info_para_text {
    text-align: left; 
    padding: 10px;
}

.chair_img {
    padding: 25px; 
    width:500px; 
    height:500px
}
/* information_2 end*/



/* information_3 start*/
.div_3_info_heading_text {
    text-align: right; 
    padding: 10px; 
    margin-right: 100px;
    margin-top: 100px; 
}

.div_3_info_para_text {
    text-align: right; 
    padding: 10px; 
    margin-right: 100px;
}

.sofa_img {
    margin-top:20px;
    width:460px; 
    height:400px;
    transform: scale(1);
    transition: transform 0.3s;   
}

.sofa_img:hover {
    transform: scale(1.2);
} 
/* information_3 end */
/*----sofas card--------- */


.sofas_cards {
    display: flex;
    align-items: center ;
    justify-content:space-evenly;
    padding: 20px;
    padding-top: 200px;
    
    background-color: #BBE2EC;
    background-image: url('core/images/chair.jpg');
}

.sofas_cards_2 {
    display: flex;
    align-items: center ;
    justify-content:space-evenly;
    padding: 20px;
    padding-top: 50px;
    background-color: #BBE2EC;
    background-image: url('core/images/chair.jpg');
}
/*----bed card--------- */

/* .bed_cards {
    display: flex;
    align-items: center ;
    justify-content:space-evenly;
    padding: 20px;
    padding-top: 200px;
    background-color: #BBE2EC;
    background-image: url('core/images/chair.jpg');
}

.card:hover  {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.beds_cards2 {
    display: flex;
    align-items: center ;
    justify-content:space-evenly;
    padding: 20px;
    padding-top: 50px;
    background-color: #BBE2EC;
    background-image: url('core/images/chair.jpg');
} */

.bed_categories_card {
    margin-top: 50px;
    
}

.bed_card {
    background-color: #F0F3FF;
}

/*------------------profile-------------------------*/
.profile {
   margin-top: 80px;
} 
.profile-form {
  margin-top: 40px;
  width: 390px;
  background-color: #E8F6EF;
  border-radius: 5px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.25); 
}


.nav-item.elment  {
    background-color: #9290C3;
    padding: 10px;
}

.flex-column {
    width: 100%;
    height: 100%;
}



.text-primary{ 
    text-align: center;
}

/*---------change-password--------- */

.change-password {
    margin-top: 140px;
    margin-left: 500px;
    width: 390px;
    background-color:#E8F6EF;
    border-radius: 5px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.25); 

  }
.text-center {
    padding: 5px;
    padding-bottom: 15px;
}

.password-button {
    background-color:rgb(0, 119, 255);
}

/*-------productdetails-----------*/
.productdetails {
    margin-top: 100px;
}