<!--information-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.css' %}">


</head>
<body>
    
  <!-- <div class="info_heading_text">
    <h3>About Us</h3>
  </div> -->
  
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 div_1_info" >
      <div class="col-10 col-sm-8 col-lg-6 ">
        <img src="{% static 'core/images/hanging.jpg' %}" class="d-block mx-lg-auto img-fluid hanging_img"style="mix-blend-mode:color-burn;" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6" style="text-align: right;" >
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 div_1_info_heading_text" >Wooden Swing Chair with Hanging Accessories  </h1>
        <p class="lead div_1_info_para_text" style="padding: 10px;">Patiofy macrame swing chair, this stylish hammock chair is comfortable and durable. It can withstand a maximum weight of 120 kgs, and it is big enough to have enough space to relax, stretch and enjoy full relaxation, something that other chairs don't offer. Find comfort with a stylish hammock swing || indoor swing || swing for adults || jhula for home || swing for home. </p>

      </div>
    </div>
     <!--information end-->
     <!--information 2-->
     {% comment %} <hr class="featurette-divider"> {% endcomment %}
     <div class="row featurette" >
      <div class="col-md-7 order-md-2" >
        <h2 class="featurette-heading fw-normal lh-1 div_2_info_heading_text" >Unique Creation Handicrafts  <span class="text-body-secondary">Rocker Rocking Chair </span></h2>
        <p class="lead div_2_info_para_text" >Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      </div>
      <div class="col-md-5 order-md-1 " >
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto chair_img"  src="{% static 'core/images/chair.jpg' %}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
      </div>
    </div>
    {% comment %} <hr class="featurette-divider"> {% endcomment %}
    <!--information 2 end-->
    
    <!--information 3-->
    <div class="row featurette" style="background-color: #EEF5FF;">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 div_3_info_heading_text">Enlay Leatherette 3 Seater  <span class="text-body-secondary">Sofa</span></h2>
        <p class="lead div_3_info_para_text">Seat cushions filled with high resilience foam and polyester fibre wadding give comfortable support for your body, and easily regain their shape when you get up.Back cushions filled with polyester fibres for soft comfort.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto sofa_img"style=""   src="{% static "core/images/front_sofa.png" %}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
      </div>
    </div>
</body>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'core/js/jquery.js' %}"></script>
      <script src="{% static 'core/js/popper.js' %}"></script>
</html>
    <!--infromation 3 end-->