<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nabvar</title>
</head>
<body>
    <nav>
    <label class="logo">Furniture</label>
    
    <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div class="search">
        <form action="#">
            <input type="text" placeholder="Products...">
            <button type="submit">Search</button>
        </form>
    </div>
    </nav>
</body>
</html>