<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background-color: #424769;  ">
        <div class="container-fluid">
          {% comment %} <a class="navbar-brand" href="#" ><img src="{% static 'core/images/logo2.jpg' %}" style="width: 100%;aspect-ratio: 3/2; object-fit: contain;mix-blend-mode: color-burn;" alt=""></a> {% endcomment %}
          <a class="navbar-brand" href="#" style="margin-left: 40px;">Furniture</a>
          
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0" style="padding: 10px; margin-right:40px">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
            </li>
            <li class="nav-item">
                {% comment %} <a class="nav-link" href="#">Products</a> {% endcomment %}
                <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle product_btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url "sofacategories" %}" style="color: black;">Sofas</a>
                    <a class="dropdown-item" href="{% url "bedcategories" %}" style="color: black;" >Beds</a>
                    <a class="dropdown-item" href="#"style="color: black;">Something else here</a>
                  </div>
                </div>
              </li>
            </ul>


          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search" style="margin-left: 100px;">
                <input class="form-control me-2" type="search" placeholder="Products.." aria-label="Search" style="width:400px  ">
                <button class="btn btn-outline-success" type="submit" style="margin-left:8px">Search</button>
              </form>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0" style="padding: 10px; margin-right:40px">
              <li class="nav-item">
                
                {% comment %} <a class="nav-link" href="#">Products</a> {% endcomment %}
                {% comment %} <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle product_btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url "profile" %}" style="color: black;">Profile</a>
                    <a class="dropdown-item" href="" style="color: black;" >Orders</a>
                    <a class="dropdown-item" href="{% url "changepassword" %}"style="color: black;">Change Password</a>
                    <a class="dropdown-item" href="{% url "logout" %}"style="color: black;">Logout</a>
                  </div>
                </div> {% endcomment %}
                {% if request.user.is_authenticated %}
                <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle product_btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user.username| capfirst}} 
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url "profile" %}" style="color: black;">Profile</a>
                    <a class="dropdown-item" href="" style="color: black;" >Orders</a>
                    <a class="dropdown-item" href="{% url "changepassword" %}"style="color: black;">Change Password</a>
                    <a class="dropdown-item" href="{% url "logout" %}"style="color: black;">Logout</a>
                  </div>
                </div>

                {% comment %} <li class="nav-item">
                  <a class="nav-link" href="{% url "profile" %}">Welcome {{user.first_name}}</a>
                </li> {% endcomment %}
                <li class="nav-item">
                  <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "logout" %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url "registration" %}">Registration</a>
                </li>
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url "x" %}">About</a>
              </li> {% endcomment %}
              <li class="nav-item">
                <a class="nav-link" href={% url "login" %}>Login</a>
              </li>
              
              {% endif %}
            </ul>
            
          </div>
        </div>
      </nav>
      <script src="{% static 'core/js/bootstrap.min.js' %}"></script>  
    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
</body>
</html>