{% extends "core/base.html" %}
{% block home %}
{% load static %}

  <div class="container">              <!-- we have created new container class-->
    <div class="row">                           <!-- we have created row class-->
        {% for dc in sofa_category %}
        <div class="col-sm-4 ">
          <a href="{% url "productdetails" dc.id %}" style="text-decoration: none; ">        
            <div class="card sofa_categories_card sofa_card " style="width: 20rem; height:23rem;">
                <img class="card-img-top " src="{{dc.product_image.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{dc.name}}</h5>
                   <div class="text-center">
                        <h5 class="font-weight-bold text-dark "><i class="fa-solid fa-indian-rupee-sign"></i> {{dc.discounted_price}}<small class="fw-light rupee"> <s>{{dc.selling_price}}</s></small> <small class="text-danger">(% {{dc.percentage}}off)</small></h5>  
                    </div>
                </div>
            </div>
          </a>
        </div>       
        {% endfor %}
    </div>
</div>
{% endblock home %}

        
      